/* html {
  scroll-behavior: smooth;
} */

:root {
  --light-color: #f5f6f8;
  --light-color-hover: #ff8f8f;
  --substrate-text-color: rgba(219, 219, 221, 0.85); 
  --dark-color: #2d264d;
  --dark-color-hover: #d80000;
}
.light-color {
  color: var(--light-color);
} 
.dark-color {
  color: var(--dark-color);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Urbanist', sans-serif;
  color: var(--dark-color);
  font-size: 20px;
  background-image: url("./imgs/background.svg");
}
@media(max-width: 576px) {
  body {
    font-size: 17px;
  }
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--dark-color-hover);
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

ul {
  list-style-type: none;
}

li {
  margin-left: 20px;
  margin-bottom: 10px;
}
button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-color: rgb(185, 185, 185);
  padding: 30px;
  padding-bottom: 40px;
}

@media(max-width: 1200px) {
  .container {
    max-width: 932px;
  }
}
@media(max-width: 992px) {
  .container {
    max-width: 708px;
  }
}
@media(max-width: 768px) {
  .container {
    max-width: 516px;
  }
}
@media(max-width: 576px) {
  .container {
    /* width: 100%;  */
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    padding-bottom: 30px;
  }
}

.header-container {
  background-color: transparent;
  display: flex;
  justify-content: right;
}

@media(max-width: 576px) {
  .header-container {
    padding-bottom: 10px;  
  }
}

.header {
  background-color: rgb(65, 65, 65);
}

.burger {
  position: relative;
  width: 30px;
  height: 30px;
}
@media(min-width: 992px) {
  .burger {
    display: none;
  }
}

.burger span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--light-color);
  transition: transform 0.3s, background-color 0.3s;
}
.burger:hover.burger span  {
  background-color: var(--dark-color-hover)
}
.burger-start {
  top: 5px;
  left: 0px;
}
.burger.active .burger-start {
  display: none;
}
.burger-middle {
  top: 15px;
  left: 0px;
}
.burger.active .burger-middle {
  transform: rotate(-45deg)
}
.burger-end {
  top: 25px;
  left: 0px;
}
.burger.active .burger-end {
  top: 15px;
  transform: rotate(45deg)
}
.nav.active {
  transform: translateX(0vh);
  opacity: 1;
}


@media(max-width: 992px) {
  .nav {
    display: block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 35vh;
    background-color: rgba(36, 33, 44, 0.842);
    box-shadow: -5px -3px 52px 5px rgba(7, 10, 13, 0.95);
    transition: transform 0.3s, opacity 0.3s;
    transform: translateX(-40vh);
    opacity: 0;
  }
  .nav .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .nav .nav-list li {
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.nav-list {
  display: flex;
  justify-content: right;
}
.nav-list a {
  color: var(--light-color);
}
.nav-list a:hover {
  color: var(--dark-color-hover);
}
.contacts {
  background-image: url("./imgs/promo.svg");
  background-position-x: 70%;
}
.contacts-container {
  padding: 0;
  min-height: 40vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr; 
  background-color: transparent;
  
}
@media(max-width: 576px) {
  .contacts-container {
    grid-gap: 30px;
    grid-template-columns: 1fr; 
  }
  .contacts {
    background-image: url("./imgs/promo-small.svg");
    background-position-y: 65%;
  }
}

.code-container {
  overflow: auto;
  padding: 10px;
  box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%);
  border-radius: 10px;
  text-indent: 20px;
  background-color: var(--substrate-text-color);
}

.title {
  margin-bottom: 40px;
  font-size: 28px;
  text-align: center;
}

.main-title {
  font-size: 36px;
  color: var(--light-color);
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-list {
  margin-left: 30px;
}
@media(max-width: 576px) {
  .contacts-list {
    margin-left: 0;
  }
  .contacts-list li {
    margin-left: 0;
  }
}

.contacts-list a {
  color: var(--dark-color);
  transition: color 0.3s, fill 0.3s;
}

.contacts-list a:hover,
.contacts-list a:focus {
  color: var(--dark-color-hover);
  fill: var(--dark-color-hover);
}

.about-myself {
  padding: 40px;
}
.about-myself > .container {
  background-image: url("./imgs/background2.svg");
  background-size: cover;
}
.about-myself-content {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr; 
  justify-items: center;
}
.about-myself-img {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
}
.about-myself-description {
  padding: 15px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  text-indent: 20px;
  background-color: var(--substrate-text-color);
  line-height: 30px; 
}

@media(max-width: 992px) {
  .about-myself-content {
    grid-gap: 50px;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media(max-width: 768px) {
  .about-myself-content img{
    width: 100%;
  }
}
@media(max-width: 576px) {
  .about-myself{
    padding: 0;
  }
}

.skills > .container {
  background-image: url("./imgs/skills1.jpg");
  background-size: cover;
  background-position-y: 100%;
}

.skills-list {
  max-width: 60%;
  padding: 15px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  background-color: var(--substrate-text-color);

}
.skills-list li{
  margin-bottom: 10px;
  min-height: 43px;
  display: flex;
  align-items: center;
}
.skills-list li > span{
  margin-right: 5px;
}
.skills-list li > img{
  margin-right: 5px;
}
@media(max-width: 768px) {
  .skills-list {
    max-width: 100%;
  }
}
@media(max-width: 576px) {
  .skills-list img{
    width: 28px;
  }  
}
.code-example > .container {
  background-image: url("./imgs/code2.jpg");
  background-size: cover;
}

.wrapper-code-container {
  display: flex;
  justify-content: right;
}
@media(max-width: 768px) {
  .wrapper-code-container {
    display: block;
    font-size: 16px;
  }
}
@media(max-width: 576px) {
  .wrapper-code-container {
    font-size: 13px;
  } 
}

.experience > .container {
  background-image: url("./imgs/exper2.jpg");
  background-size: cover;
  background-position-y: 50% ;
}

.experience-list img {
  width: 100%;
  height: auto;
  filter: grayscale(70%);
  transition: filter 0.3s;
}
.experience-list img:hover {
  filter: grayscale(0%);
}
.experience-list > li {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.experience-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 15px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  background-color: var(--substrate-text-color);
}
@media(max-width: 768px) {
  .experience-list {
    justify-content: center;
  }  
}
.project-description {
  padding: 10px;
}
.project-description span {
  font-weight: 700;
}

.education {
  min-height: 300px;
}
.education > .container {
  background-image: url("./imgs/aducation.jpg");
  background-size: cover;
  background-position-y: 90% ;
}
.wrapper-education-list {
  display: flex;
  justify-content: right;
}
.education-list {
  max-width: 60%;
  padding: 15px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  background-color: var(--substrate-text-color);
}
@media(max-width: 576px) {
  .wrapper-code-container {
    display: block;
  }
  .experience-list {
    max-width: 100%;
  }
  .wrapper-education-list {
    display: block;
  }
  .education-list {
    max-width: 100%;
  }
}
.languages > .container {
  background-image: url("./imgs/language2.jpeg");
  background-size: cover;
  background-position-y: 50% ;
}
.languages-list {
  max-width: 50%;
  padding: 15px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  background-color: var(--substrate-text-color);
} 
.video-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.video {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  border: 0;
}
@media(max-width: 576px) {
  .languages-list {
    max-width: 100%;
  }
}
footer {
  background-color: rgb(31, 29, 29);
}
footer > .container {
  background-color: transparent;
}
footer a {
  /* color: var(--light-color); */
}
.footer-container {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.github > svg {
  transition: fill 0.3s;
  fill:#455A64;
}
.github > svg:hover {
  fill: var(--light-color-hover);
}
.rss-school > svg {
 transition: fill 0.3s;
}
.rss-school > svg:hover {
  fill: var(--light-color-hover);
}

.wrapper-move-up {
  position: fixed;
  bottom: 10vh;
  right: 5vh;
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.52);
  border-radius: 50%;
  transition: background-color 0.3s, opacity 0.3s;
}

.wrapper-move-up button {
  width: 40px;
  height: 40px;
}

.move-up {
  transition: fill 0.3s, opacity 0.9s;
  fill: rgb(0, 0, 0);
}
.wrapper-move-up:hover {
  background-color: rgba(0, 0, 0, 0.52);
}
.move-up:hover {
  fill: rgb(233, 232, 232);
}